.dir--logo-parallax
.about--container.container
  .row.col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
    .about--callout
      MissionFocus is a development shop that takes domain design and development as seriously as system design.
.philosophy--container{data: {speed: 5, type: "background"}}
  .philosophy--bodycopy
    Immense data solutions for the intelligence community. Experts in cloud computing, storage, and source diversity. Creators of the Sign Representation Framework. Code that will
    = succeed "." do
      %em change the world
    = link_to "Learn more »", "/about.html"
