.careers--container.container{data: {speed: 5, type: "background"}}
  .row.col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
    .careers--work
      Work for Mission Focus.
    .careers--benefits
    .careers--open-positions
      %a{href: "/careers.html"} See our open positions »
