.container.contact--container
  .row.col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
    #contact
      .contact--get-in-touch Get in Touch.
      .contact--sub-press
        Be it to get in touch about the work at hand, figure out future partnership, or just to say hello: we're all ears. You can
        %a{href: "mailto:maeick@missionfocus.com"} email us
        or
        = succeed "." do
          %a{href: "https://goo.gl/maps/7Wegk"} visit us in Old Town, Alexandria