.container
  .row.col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
    #dir
      %div
        .dir--desktop
          %a{href: "https://goo.gl/maps/7Wegk"} 100 Daingerfield Road, Suite 400, Alexandria, VA 22314
          %em |
          Phone: 703.291.6720
          %em |
          Fax: 703.763.726
        .desktop-none.col-xs-12.col-sm-8.col-md-8.col-lg-8
          %h2 Getting Here
          %p
            We are located in the National Community Pharmacists Association building on the fourth floor. Meter parking is available on the street in front of the building along Daingerfield Road, or in the public garage located across from the building entrance at
            %a{href: "https://maps.google.com/maps?q=1700+Diagonal+Road,+Alexandria,+VA&hl=en&ll=38.805788,-77.059371&spn=0.001252,0.002079&sll=38.805892,-77.059093&sspn=0.001252,0.002079&oq=1700+Dia&hnear=1700+Diagonal+Rd,+Alexandria,+Virginia+22314&t=m&z=19"} 1700 Diagonal Road, Alexandria.
      .desktop-none
        %h2 Directions:
        %div{"data-icon" => "custom", "data-iconshadow" => "false", "data-inset" => "false", "data-role" => "collapsible"}
          %h4
            From I-495 (from Virginia)
            .right +
          .col-xs-12
            %ol
              %li
                Merge onto I-495 E/I-95 N
                %span 4.1 mi
              %li
                Take exit 176B for Virginia 241 N toward Alexandria
                %span 0.7 mi
              %li
                Take VA-236 E/Duke St to Diagonal Rd
                %span 1.0 mi / 3 min
              %li
                Merge onto Telegraph Rd
                %span 0.2 mi
              %li
                Merge onto VA-236 E/Duke St via the ramp to Downtown/Alexandria
                %span 0.6 mi
              %li
                Turn left onto Diagonal Rd/Dulany St
                %span 72 ft
              %li
                Turn right onto Diagonal Rd
                %span.destination Destination will be on the left
        %div{"data-inset" => "false", "data-role" => "collapsible"}
          %h4
            From I-495 (from Maryland/the District):
            .right +
          .col-xs-12
            %ol
              %li
                Head west on I-95 S
                %span 3.7 mi
                %span.destination Passing through District of Columbia
                %span.destination Entering Virginia
              %li
                Take exit 177B-177C for US-1 N toward Alexandria/Mt Vernon
                %span 0.1 mi
              %li
                Take exit 177B on the left to merge onto U.S. 1 N/S Patrick St toward Alexandria
                %span 0.7 mi
              %li
                Turn left onto Duke St
                %span 0.4 mi
              %li
                Turn right onto Daingerfield Rd
                %span.destination Destination will be on the left
        %div{"data-inset" => "false", "data-role" => "collapsible"}
          %h4
            From I-396:
            .right +
          .col-xs-12
            %ol
              %li
                Head northeast on I-395 N toward Exit 4
                %span 1.7 mi
              %li
                Take exit 5 for VA-7/King St
                %span 0.1 mi
              %li
                Keep right at the fork, follow signs for VA-7 E/King St E and merge onto VA-7 E/King St
                %span 2.9 mi
              %li
                Turn right onto Daingerfield Rd
                %span 210 ft
                %span.destination Destination will be on the right
        %div{"data-inset" => "false", "data-role" => "collapsible"}
          %h4
            From I-95 (from Virginia):
            .right +
          .col-xs-12
            %ol
              %li
                Get on I-95 N
                %span 1.2 mi
              %li
                Follow I-95 N to Telegraph Rd in Alexandria. Take exit 176B from I-95 N
                %span 18.4 mi / 18 min
              %li
                Take VA-236 E/Duke St to Diagonal Rd
                %span 1.0 mi / 3 min
              %li
                Merge onto Telegraph Rd
                %span 0.2 mi
              %li
              %li
                Merge onto VA-236 E/Duke St via the ramp to Downtown/Alexandria
                %span 0.6 mi
              %li
                Turn left onto Diagonal Rd/Dulany St
                %span 72 ft
              %li
                Turn right onto Diagonal Rd
                %span.destination Destination will be on the left
        %div{"data-inset" => "false", "data-role" => "collapsible"}
          %h4
            From I-95 (from Maryland/The District):
            .right +
          .col-xs-12
            %ol
              %li
                Take exit 1C to merge onto I-495 S/I-95 S toward Richmond
                %span 2.0 mi
                %span.destination Passing through District of Columbia
                %span.destination Entering Virginia
              %li
                Follow I-95 N to Telegraph Rd in Alexandria. Take exit 176B from I-95 N
                %span 18.4 mi / 18 min
              %li
                Take exit 177B-177C for US-1 N toward Alexandria/Mt Vernon
                %span 1.0 mi
              %li
                Take exit 177B on the left to merge onto U.S. 1 N/S Patrick St toward Alexandria
                / </br>
                Merge onto U.S. 1 N/S Patrick St
                %span 0.5 mi
              %li
                Turn left onto Duke St
                %span 0.4 mi
              %li
                Turn right onto Daingerfield Rd
                %span.destination Destination will be on the left
        %div{"data-inset" => "false", "data-role" => "collapsible"}
          %h4
            From King Street/Route 7:
            .right +
          .col-xs-12
            %ol
              %li
                Head southeast on King St toward Scroggins Rd
                %span 1.5 mi
              %li
                Turn right onto Daingerfield Rd
                %span.destination Destination will be on the right
        %div{"data-inset" => "false", "data-role" => "collapsible"}
          %h4
            From Little River Turnpike:
            .right +
          .col-xs-12
            %ol
              %li
                Get on I-495 S/Capital Beltway in Annandale
                %span 3.1 mi / 5 min
              %li
                Follow I-495 S/Capital Beltway and I-95 N to Telegraph Rd in Alexandria
                = succeed "Take" do
                  %br/
                %span 9.9 mi / 10 min
              %li
                Take VA-236 E/Duke St to Diagonal Rd
                %span 1.0 mi / 3 min
              %li
                Merge onto Telegraph Rd
                %span 0.2 mi
              %li
                Merge onto VA-236 E/Duke St via the ramp to Downtown/Alexandria
                %span 0.6 mi
              %li
                Turn right onto Daingerfield Rd
                %span 72 ft
              %li
                Turn right onto Diagonal Rd
                %span.destination Destination will be on the left