---
layout: subpages
title: Mission Focus
---

.col-md-6.col-md-offset-3.col-sm-12.col-xs-12
  %h2 Open Positions

  %table
    %thead
      %tr
        %th Position
        %th Location

    %tbody
      %tr
        %td= link_to "Software Engineer",  "software-engineer.html"
        %td Alexandria, VA
